In [1]:
import pandas as pd
import re
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [2]:
browser=webdriver.Chrome("chromedriver.exe")
browser.get("https://www.linkedin.com")

In [3]:
username=browser.find_element_by_id("session_key")
username.send_keys("put_email_id")
password=browser.find_element_by_id("session_password")
password.send_keys("put_password")

In [4]:
login_button=browser.find_element_by_class_name("sign-in-form__submit-button")
login_button.click()

In [5]:
browser.get("https://www.linkedin.com/jobs/")

##  get job title

In [6]:
job=browser.find_elements_by_class_name("job-card-square__title")

In [7]:
c=[]
for i in job:
    print(i.text)
    c.append(i.text)

Job Title
Data Science- Intern
Job Title
Data Engineer / Data Analyst
Job Title
Data Engineer: Big Data
Job Title
Software Engineering
Job Title
Curriculum Specialist
Job Title
AWS BigData
Job Title
Report Developer
Job Title
Data -Software Engineer -3.
Job Title
Data Scientist - Python/R
Job Title
Data Analytics and Interpretation Application Lead
Job Title
Analyst, Cloud Data Engineering
Job Title
Support Engineer
Job Title
Senior Associate, Solution Engineering.
Job Title
Associate Architect - Data Science
Job Title
MERN Stack Developer
Job Title
Python+Java-Engineer
Job Title
Database Developer
Job Title
Python Developer
Job Title
Sales Administrator
Job Title
Software Specialist - Big Data - Hadoop, Redshift, Spark
Job Title
Quantsapp - Data Anaylst - Trading Analytics Platform (1-3 yrs) Mumbai
Job Title
Technical Trainee - Data Science/ Machine Learning
Job Title
Software Development Engineering, Analyst

In [8]:
job_title=[]
for i in range(len(c)):
    job_title.append(c[i].strip("Job Title\n"))

In [9]:
job_title

['Data Science- Intern',
 'Data Engineer / Data Analys',
 'Data Engineer: Big Data',
 'Software Engineering',
 'Curriculum Specialis',
 'AWS BigData',
 'Report Developer',
 'Data -Software Engineer -3.',
 'Data Scientist - Python/R',
 'Data Analytics and Interpretation Application Lead',
 'Analyst, Cloud Data Engineering',
 'Support Engineer',
 'Senior Associate, Solution Engineering.',
 'Associate Architect - Data Scienc',
 'MERN Stack Developer',
 'Python+Java-Engineer',
 'Database Developer',
 'Python Developer',
 'Sales Administrator',
 'Software Specialist - Big Data - Hadoop, Redshift, Spark',
 'Quantsapp - Data Anaylst - Trading Analytics Platform (1-3 yrs) Mumba',
 'chnical Trainee - Data Science/ Machine Learning',
 'Software Development Engineering, Analys']

## get company name

In [18]:

job2=browser.find_elements_by_class_name("job-card-container__company-name")

In [19]:
comp_name=[]
for i in job2:
    print(i.text)
    comp_name.append(i.text)

Evolent Health
Morgan Stanley
IBM
JPMorgan Chase & Co.
JoVE
Accenture
Sitel
Michelin
Citi
Accenture in India
Western Union
TIBCO
Western Union
Icertis
LTI - Larsen & Toubro Infotech
LTI - Larsen & Toubro Infotech
ISS | Institutional Shareholder Services
LTI - Larsen & Toubro Infotech
YouGov India
Augusta Infotech
Quantsapp
Fiserv

In [20]:
comp_name

['Evolent Health',
 'Morgan Stanley',
 'IBM',
 'JPMorgan Chase & Co.',
 'JoVE',
 'Accenture',
 'Sitel',
 'Michelin',
 'Citi',
 'Accenture in India',
 'Western Union',
 'TIBCO',
 'Western Union',
 'Icertis',
 'LTI - Larsen & Toubro Infotech',
 'LTI - Larsen & Toubro Infotech',
 'ISS | Institutional Shareholder Services',
 'LTI - Larsen & Toubro Infotech',
 'YouGov India',
 'Augusta Infotech',
 'Quantsapp',
 'Fiserv']

## get Location

In [13]:

job3=browser.find_elements_by_class_name("job-card-container__metadata-item")

In [14]:
loc_name=[]
for i in job3:
    print(i.text)
    loc_name.append(i.text)

Pune, Maharashtra, India
Mumbai, Maharashtra, India
Pune, Maharashtra, India
Mumbai, Maharashtra, India
Mumbai, Maharashtra, India
Mumbai, Maharashtra, India
Mumbai, Maharashtra, India
Pune, Maharashtra, India
Pune, Maharashtra, India
Pune, Maharashtra, India
Pune, Maharashtra, India
Pune, Maharashtra, India
Pune, Maharashtra, India
Shirur Sub-District, Maharashtra, India
Pune, Maharashtra, India
Pune, Maharashtra, India
Mumbai, Maharashtra, India
Pune, Maharashtra, India
Mumbai, Maharashtra, India
Pune, Maharashtra, India
Mumbai, Maharashtra, India
Pune/Pimpri-Chinchwad Area
Pune, Maharashtra, India

In [22]:
comp_name.append(" ")

In [23]:
print(len(comp_name))
print(len(job_title))
print(len(loc_name))

23
23
23

In [24]:
col=["Company Name","Job Title","Location"]

In [25]:
df=pd.DataFrame({"Company Name":comp_name,"Job Title":job_title,"Location":loc_name})

In [26]:
df

,Company Name,Job Title,Location
0,Evolent Health,Data Science- Intern,"Pune, Maharashtra, India"
1,Morgan Stanley,Data Engineer / Data Analys,"Mumbai, Maharashtra, India"
2,IBM,Data Engineer: Big Data,"Pune, Maharashtra, India"
3,JPMorgan Chase & Co.,Software Engineering,"Mumbai, Maharashtra, India"
4,JoVE,Curriculum Specialis,"Mumbai, Maharashtra, India"
5,Accenture,AWS BigData,"Mumbai, Maharashtra, India"
6,Sitel,Report Developer,"Mumbai, Maharashtra, India"
7,Michelin,Data -Software Engineer -3.,"Pune, Maharashtra, India"
8,Citi,Data Scientist - Python/R,"Pune, Maharashtra, India"
9,Accenture in India,Data Analytics and Interpretation Application ...,"Pune, Maharashtra, India"
10,Western Union,"Analyst, Cloud Data Engineering","Pune, Maharashtra, India"
11,TIBCO,Support Engineer,"Pune, Maharashtra, India"
12,Western Union,"Senior Associate, Solution Engineering.","Pune, Maharashtra, India"
13,Icertis,Associate Architect - Data Scienc,"Shirur Sub-District, Maharashtra, India"
14,LTI - Larsen & Toubro Infotech,MERN Stack Developer,"Pune, Maharashtra, India"
15,LTI - Larsen & Toubro Infotech,Python+Java-Engineer,"Pune, Maharashtra, India"
16,ISS | Institutional Shareholder Services,Database Developer,"Mumbai, Maharashtra, India"
17,LTI - Larsen & Toubro Infotech,Python Developer,"Pune, Maharashtra, India"
18,YouGov India,Sales Administrator,"Mumbai, Maharashtra, India"
19,Augusta Infotech,"Software Specialist - Big Data - Hadoop, Redsh...","Pune, Maharashtra, India"
20,Quantsapp,Quantsapp - Data Anaylst - Trading Analytics P...,"Mumbai, Maharashtra, India"
21,Fiserv,chnical Trainee - Data Science/ Machine Learning,Pune/Pimpri-Chinchwad Area
22,,"Software Development Engineering, Analys","Pune, Maharashtra, India"

In [27]:
df.to_csv("linkedin_scrape11.csv")